---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$headers-font-family: "Carter One", Arial, sans-serif;
$base-font-family: "Raleway", sans-serif;

$base-font-size:   18px;
$base-font-weight: 400;

$headers-font-size:   18px;
$headers-font-weight: 400;

$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #a61717;
// $grey-color:       #828282;

$text-color:       #00008b;
$background-color: #ff684d;
$brand-color:      #aee221;
$grey-color:       #000036;


$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    960px;
$about-width:      700px;

$on-phone:         320px;
$on-palm:          600px;
$on-laptop:        960px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
  



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "fonts",
        "base",
        "aspect-ratio",
        "layout",
        "ghcard",
        "buttons",
        "syntax-highlighting"
;
