localhost*pem
.jekyll-metadata
_site/*
_theme_packages/*

Thumbs.db
.DS_Store
.ruby-version

!.gitkeep
Gemfile.lock

.rbenv-version
.rvmrc
*~
demo/grass/*.mp3
demo/grass/*.wav
node_modules/

demo/3dprinteflowers-webgl/target/*
demo/3dprinteflowers-webgl/bin/*
demo/canvas-sketches/node_modules/*
shaders/glslV/videos/*
shaders/glslV/2dpatterns/videos/*
shaders/glslV/textures/*
shaders/glslV/rider.md
**/DS_Store


assets/media/2drays/*
