---
layout: home
---

<div class="index-content">
  <div class="grid-gutter"></div>
  

  <a href="/demo/particles-regl">
    {% include img.html pngName="fake-teasel" assetPath="/assets/media/flowers/" gridClass = "grid  grid-sizer" %}
  </a>

  <a href="/demo/agapornis-fischeri">
    {% include img.html pngName="fake-teasel" assetPath="/assets/media/flowers/" gridClass = "grid" %}
  </a>

  <a href="/demo/amazona-estiva">
    {% include img.html pngName="fake-teasel" assetPath="/assets/media/flowers/" gridClass = "grid" %}
  </a>

  <a href = "/demo/palm-on-curve/www">
    <img class="grid" srcset =
    "assets/media/3dprinted-flowers/cover.png 640w,
    assets/media/3dprinted-flowers/cover.png 1280w,
    assets/media/3dprinted-flowers/cover.png 1940w,
    assets/media/3dprinted-flowers/cover.png 2600w"
    sizes="(max-width: 600px) 96vw, 32.666vw">
  </a>



  <a href = "/demo/grass">
    {% include img.html pngName="grass" assetPath="/assets/media/grass/" gridClass = "grid" %}
  </a>

    <a href = "/demo/terrain">
      {% include img.html pngName="terrain" assetPath="/assets/media/terrain/" gridClass = "grid" %}
    </a>


    <a href = "/demo/be-the-sun/">
    <img class="grid" src="assets/media/be-the-sun/be-the-sun.jpg">
    </a>

  </div>
