---
layout: home
---

<div class="index-content">
  <div class="grid-gutter"></div><div class="grid-sizer"></div>

  <!-- Flowers -->
  <a href="/projects/flowers">
    {% include img.html pngName="fake-teasel" assetPath="/assets/media/flowers/" gridClass = "grid l2" %}
  </a>

  <!-- Rings -->
  <a href="/projects/rings-of-lights">
    {% include img.html pngName="blue" assetPath="/assets/media/rings/" gridClass = "grid" %}
  </a>

  <!-- work in progress, portfolio coming soon-->
    <a href = "/demo/terrain">
    <img class="grid" srcset =
    "assets/media/terrain-desert/terrain-small.png 640w,
    assets/media/terrain-desert/terrain-medium.png 1280w,
    assets/media/terrain-desert/terrain-large.png 1940w,
    assets/media/terrain-desert/terrain.png 2600w"
    sizes="(max-width: 600px) 96vw, 32.666vw">
    </a>

    <a href = "/demo/grass">
    <img class="grid l2" srcset =
    "assets/media/grass/grass-small.png 640w,
    assets/media/grass/grass-medium.png 1280w,
    assets/media/grass/grass-large.png 1940w,
    assets/media/grass/grass.png 2600w",
    sizes="(max-width: 600px) 96vw, 66.333vw">
    </a>

     <img class="grid l2" srcset =
    "assets/media/ofxLSystem/L-System1-small.png 640w,
    assets/media/ofxLSystem/L-System1-medium.png 1280w,
    assets/media/ofxLSystem/L-System1-large.png 1940w,
    assets/media/ofxLSystem/L-System1.png 2600w",
    sizes="(max-width: 600px) 96vw, 66.333vw">

    <div class="grid">
      <div class="four-three">
        <iframe src="https://player.vimeo.com/video/161169445" width="640" height="468" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>

  <img class="grid" srcset =
    "assets/media/ofxLSystem/L-System3-small.png 640w,
    assets/media/ofxLSystem/L-System3-medium.png 1280w,
    assets/media/ofxLSystem/L-System3-large.png 1940w,
    assets/media/ofxLSystem/L-System3.png 2600w"
    sizes="(max-width: 600px) 96vw, 32.666vw">

    <img class ="grid" srcset =
    "assets/media/ofxLSystem/L-System2-small.png 640w,
    assets/media/ofxLSystem/L-System2-medium.png 1280w,
    assets/media/ofxLSystem/L-System2-large.png 1940w,
    assets/media/ofxLSystem/L-System2.png 2600w"
    sizes="(max-width: 600px) 96vw, 32.666vw">

    <div class="grid">
      <div class="four-three">
        <iframe src="https://player.vimeo.com/video/128782688" width="640" height="468" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
