---
layout: home
---

<div class="index-content">
  <div class="grid-gutter"></div>
  <!-- Pattern # 2-->
  <a href="/projects/pattern-n2-sampling-argusianus-argus">
    {% include img-jpg.html pngName="4" assetPath="/assets/media/pattern2-argusianus-argus/" gridClass = "grid l2" %}
  </a>

  <!-- Pattern # 1-->
  <a href="/projects/pattern-n1-appunti-su-piuma">
    {% include img-jpg.html pngName="rombi1" assetPath="/assets/media/pattern1-appunti-su-piuma/" gridClass = "grid l2" %}
  </a>

   <!-- Ausser Betrieb visuals -->
   <a href="/projects/ausser-betrieb">
    {% include img-jpg.html pngName="7" assetPath="/assets/media/ausser-betrieb/" gridClass = "grid l2" %}
  </a>

   <!-- Sampling Ocellated Turkey-->
  <a href="/projects/sampling-ocellated-turkey">
    {% include img-jpg.html pngName="1" assetPath="/assets/media/sampling-ocellated-turkey/" gridClass = "grid" %}
  </a>

  <!-- Palms Generator -->
  <a href = "/projects/palm-generator">
  <img class="grid" srcset =
  "assets/media/palm-generator/palm-generator-small.png 640w,
  assets/media/palm-generator/palm-generator-medium.png 1280w,
  assets/media/palm-generator/palm-generator-large.png 1940w,
  assets/media/palm-generator/palm-generator.png 2600w"
  sizes="(max-width: 600px) 96vw, 66.333vw">
  </a>

  <!--Flipping parrots -->
  <div class="grid">
      <div class="sixteen-nine">
        <iframe src="https://player.vimeo.com/video/281527644" width="640" height="468" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
  </div>

  <!--Uncertain wind -->
  <div class="grid">
    <div class="sixteen-nine">
      <iframe src="https://player.vimeo.com/video/229291880" width="640" height="468" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <!-- to work correctly on firefox, one of the smaller div with the class "grid" needs
  to also have the class grid-sizer. And it cannot be empty -->
  <a href="/projects/less-than-a-flower-more-than-a-bird">
    {% include img-jpg.html pngName="budgerigar" assetPath="/assets/media/less-than-a-flower-more-than-a-bird/" gridClass = "grid grid-sizer" %}
  </a>

<!-- I am Mensch visuals -->  
  <a href="/projects/i-am-mensch-visuals">
    {% include img-jpg.html pngName="fischers" assetPath="/assets/media/i-am-mensch/"  gridClass = "grid" %}
  </a>



<!--
  <a href = "/projects/3dprinted-flowers">
    <img class="grid" srcset =
    "assets/media/3dprinted-flowers/cover.png 640w,
    assets/media/3dprinted-flowers/cover.png 1280w,
    assets/media/3dprinted-flowers/cover.png 1940w,
    assets/media/3dprinted-flowers/cover.png 2600w"
    sizes="(max-width: 600px) 96vw, 32.666vw">
  </a>

  <a href = "/demo/grass">
    <img class="grid l2" srcset =
    "assets/media/grass/grass-small.png 640w,
    assets/media/grass/grass-medium.png 1280w,
    assets/media/grass/grass-large.png 1940w,
    assets/media/grass/grass.png 2600w",
    sizes="(max-width: 600px) 96vw, 66.333vw">
  </a>

    <a href = "/demo/terrain">
    <img class="grid" srcset =
    "assets/media/terrain-desert/terrain-small.png 640w,
    assets/media/terrain-desert/terrain-medium.png 1280w,
    assets/media/terrain-desert/terrain-large.png 1940w,
    assets/media/terrain-desert/terrain.png 2600w"
    sizes="(max-width: 600px) 96vw, 32.666vw">
    </a>


    <a href = "https://edapx.neocities.org/be-the-sun/">
    <img class="grid" src="assets/media/be-the-sun/be-the-sun.jpg">
    </a>
    -->




    <!-- LSystem-->
    <!-- <div class="grid">
      <div class="sixteen-nine">
        <iframe src="https://player.vimeo.com/video/161169445" width="640" height="468" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div> -->

    <!-- <div class="grid">
      <div class="four-three">
        <iframe src="https://player.vimeo.com/video/128782688" width="640" height="468" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div> -->
  </div>
