---
layout: default
---

<div class="index-content">
<div class="grid-gutter"></div>
{% for post in site.posts %}
      <!-- All the post have the same size, the grid sizer class
      can therefore be applied to all of them   -->
      <div class="grid grid-sizer">
      <span class="post-meta">
          {% assign d = post.date | date: "%d" | plus:'0' %}
          {{ post.date | date: "%B" }}
          {% case d %}
            {% when 1 or 21 or 31 %}{{ d }}st,
            {% when 2 or 22 %}{{ d }}nd,
            {% when 3 or 23 %}{{ d }}rd,
            {% else %}{{ d }}th,
          {% endcase %}
          {{ post.date | date: "%Y" }}
      </span>

      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <div>
          {% if post.fullview %}
            {{ post.content }}
          {% else %}
              {% if post.shortinfo %}
                  {{ post.shortinfo }}
              {% elsif post.description %}
                  {{ post.description }}
              {% else %}
                  {{ post.excerpt }}
              {% endif %}
          {% endif %}
      </div>
      </div>
{% endfor %}

<div class="grid l3">
<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
</div>
