---
layout: default
---

<div class="index-content">
  <div class="grid-gutter"></div><div class="grid-sizer"></div>

  <div class="grid l3 ghcard-intro">
      <h2>Algorithmic Botany Tools</h2>
      <div class="tools-intro">These are the tools that I've used in the last years to generate procedurally trees, leaves and flowers. <br />
          Feel free to drop me a line if you want to organize a <a href ="/workshops">workshop</a> about how to use them, or more in general on the methods used to represent trees with the computer.
      </div>
  </div>
  {% assign selected = "PalmGenerator,flowers,ofxLSystem,ofxLSystemGrammar,LeafGeometry,ofxPhyllotaxis,ofxSpaceColonization,ofxBranchesPrimitive" | split: "," %}
  {% assign sorted = (site.github.public_repositories | sort: 'stargazers_count') | reverse %}
  {% for repository in sorted  %}
    {% if selected contains repository.name %}
        {% include card.html repoName=repository.name repoDescription=repository.description repoUrl=repository.html_url ownerUrl=site.github.owner_url ownerAvatar=site.github.owner_gravatar_url stars=repository.stargazers_count forks=repository.forks_count language=repository.language gridClass = "grid" %}
    {% endif %}
  {% endfor %}

</div>
