{% capture repoName repoUrl repoDescription repoUrl ownerUrl ownerAvatar stars forks language %}
    {{ include.repoName include.repoDescription include.repoUrl include.ownerUrl include.ownerAvatar include.stars include.forks include.language}}
{% endcapture %}

<div class="grid ghcard grid-sizer">
    <div class="github-card repo-card">
        <div class="header">
            <!-- <a class="avatar" href={{ include.ownerUrl }} target="_top">
                <img src={{ include.ownerAvatar }} width="100">
            </a> -->
            <strong class="name">
                <a href="{{ include.repoUrl }}" target="_top">{{ include.repoName }}</a>
                <sup class="language">{{ include.language }}</sup>
            </strong>
            <!-- <span>Created by <a href={{ include.ownerUrl }} target="_top">edap</a></span>
            <a class="button" href={{ include.repoUrl}} target="_top">Star</a> -->
        </div>

        <div class="content">
            <!-- {% if include.repoName == "ofxBranchesPrimitive" %}
            <a href="https://travis-ci.org/edap/ofxBranchesPrimitive" rel="nofollow"><img src="https://camo.githubusercontent.com/bc093b75afe0f6c8a113a19574905727bc447da3/68747470733a2f2f7472617669732d63692e6f72672f656461702f6f66784272616e636865735072696d69746976652e7376673f6272616e63683d6d6173746572" alt="Build status" data-canonical-src="https://travis-ci.org/edap/ofxBranchesPrimitive.svg?branch=master" style="max-width:100%;"></a>
            <a href="https://ci.appveyor.com/project/edap/ofxbranchesprimitive" rel="nofollow"><img src="https://camo.githubusercontent.com/4e265e43973d69f9d1cad3c296d6761086cf258c/68747470733a2f2f63692e6170707665796f722e636f6d2f6170692f70726f6a656374732f7374617475732f6b736a653938676670646e356b6e75393f7376673d74727565" alt="Build status" data-canonical-src="https://ci.appveyor.com/api/projects/status/ksje98gfpdn5knu9?svg=true" style="max-width:100%;"></a>
            {% elsif include.repoName == "ofxLSystemGrammar" %}
            <a href="https://travis-ci.org/edap/ofxLSystemGrammar" rel="nofollow"><img src="https://camo.githubusercontent.com/fc2ea83fb53a26a9222b48d74b10909e84059ed4/68747470733a2f2f7472617669732d63692e6f72672f656461702f6f66784c53797374656d4772616d6d61722e7376673f6272616e63683d6d6173746572" alt="Build status" data-canonical-src="https://travis-ci.org/edap/ofxLSystemGrammar.svg?branch=master" style="max-width:100%;"></a>
            <a href="https://ci.appveyor.com/project/edap/ofxlsystemgrammar" rel="nofollow"><img src="https://camo.githubusercontent.com/4b6e5bb5b3323ff77177ea7c76e9ccae41379a1f/68747470733a2f2f63692e6170707665796f722e636f6d2f6170692f70726f6a656374732f7374617475732f36766277337532783635757531346c623f7376673d74727565" alt="Build status" data-canonical-src="https://ci.appveyor.com/api/projects/status/6vbw3u2x65uu14lb?svg=true" style="max-width:100%;"></a>
            {% elsif include.repoName == "ofxLSystem" %}
            <a href="https://travis-ci.org/edap/ofxLSystem" rel="nofollow"><img src="https://camo.githubusercontent.com/da8fa123c8d295a8cf32e087e43e7d136333ac39/68747470733a2f2f7472617669732d63692e6f72672f656461702f6f66784c53797374656d2e7376673f6272616e63683d6d6173746572" alt="Build status" data-canonical-src="https://travis-ci.org/edap/ofxLSystem.svg?branch=master" style="max-width:100%;"></a>
            <a href="https://ci.appveyor.com/project/edap/ofxlsystem" rel="nofollow"><img src="https://camo.githubusercontent.com/e1b897c36fcc01819c1c1795974c3f998036e76d/68747470733a2f2f63692e6170707665796f722e636f6d2f6170692f70726f6a656374732f7374617475732f65747868316f637772376e62636638343f7376673d74727565" alt="Build status" data-canonical-src="https://ci.appveyor.com/api/projects/status/etxh1ocwr7nbcf84?svg=true" style="max-width:100%;"></a>
            {% elsif include.repoName == "ofxPhyllotaxis" %}
            <a href="https://travis-ci.org/edap/ofxPhyllotaxis" rel="nofollow"><img src="https://camo.githubusercontent.com/dbd9de707cafb34fedc1d5e13e3bbc1137452be2/68747470733a2f2f7472617669732d63692e6f72672f656461702f6f66785068796c6c6f74617869732e7376673f6272616e63683d6d6173746572" alt="Build status" data-canonical-src="https://travis-ci.org/edap/ofxPhyllotaxis.svg?branch=master" style="max-width:100%;"></a>
            <a href="https://ci.appveyor.com/project/edap/ofxphyllotaxis" rel="nofollow"><img src="https://camo.githubusercontent.com/8445c0118208ee1430055facf0314328fa0123f1/68747470733a2f2f63692e6170707665796f722e636f6d2f6170692f70726f6a656374732f7374617475732f6f3535647736353077306d776f68746b3f7376673d74727565" alt="Build status" data-canonical-src="https://ci.appveyor.com/api/projects/status/o55dw650w0mwohtk?svg=true" style="max-width:100%;"></a>
            {% elsif include.repoName == "ofxSpaceColonization" %}
            <a href="https://travis-ci.org/edap/ofxSpaceColonization" rel="nofollow"><img src="https://camo.githubusercontent.com/c807264df611e674e37ed94c70468b451c1c2244/68747470733a2f2f7472617669732d63692e6f72672f656461702f6f66785370616365436f6c6f6e697a6174696f6e2e7376673f6272616e63683d6d6173746572" alt="Build status" data-canonical-src="https://travis-ci.org/edap/ofxSpaceColonization.svg?branch=master" style="max-width:100%;"></a>
            <a href="https://ci.appveyor.com/project/edap/ofxspacecolonization" rel="nofollow"><img src="https://camo.githubusercontent.com/4de1c3934b7b5bcd7cb36c10846fdc54250de864/68747470733a2f2f63692e6170707665796f722e636f6d2f6170692f70726f6a656374732f7374617475732f39696e346933716478756d76356f33703f7376673d74727565" alt="Build status" data-canonical-src="https://ci.appveyor.com/api/projects/status/9in4i3qdxumv5o3p?svg=true" style="max-width:100%;"></a>
            {% elsif include.repoName == "ofxLatheMesh" %}
            <a href="https://travis-ci.org/edap/ofxLatheMesh" rel="nofollow"><img src="https://travis-ci.org/edap/ofxLatheMesh.svg?branch=master" alt="Build Status" data-canonical-src="https://travis-ci.org/edap/ofxLatheMesh.svg?branch=master" style="max-width:100%;"></a>
            <a href="https://ci.appveyor.com/project/edap/ofxlathemesh" rel="nofollow"><img src="https://ci.appveyor.com/api/projects/status/cvnl513xewehp666?svg=true" style="max-width:100%;"></a>
            {% elsif include.repoName == "ofxRaycaster" %}
            <a href="https://travis-ci.org/edap/ofxRaycaster" rel="nofollow"><img src="https://camo.githubusercontent.com/65e3e05c3a1f3e730fdad2e08067a5f4e5b65a1f/68747470733a2f2f7472617669732d63692e6f72672f656461702f6f66785261796361737465722e7376673f6272616e63683d6d6173746572" alt="Build status" data-canonical-src="https://travis-ci.org/edap/ofxRaycaster.svg?branch=master" style="max-width:100%;"></a>
            <a href="https://ci.appveyor.com/project/edap/ofxraycaster" rel="nofollow"><img src="https://camo.githubusercontent.com/aff6b19e81dfca2be0476aab1608b7799f54cd93/68747470733a2f2f63692e6170707665796f722e636f6d2f6170692f70726f6a656374732f7374617475732f70376c30337462366d31637478626a753f7376673d74727565" alt="Build status" data-canonical-src="https://ci.appveyor.com/api/projects/status/p7l03tb6m1ctxbju?svg=true" style="max-width:100%;"></a>
            {% endif %} -->
            <p>{{ include.repoDescription }}</p>
        </div>

        <div class="footer">
            <!-- <span class="status">
                <strong>{{ include.stars }}</strong>Stars
            </span>
            <span class="status">
                <strong>{{ include.forks }}</strong>Forks
            </span> -->
        </div>
    </div>
</div>
