  <footer></footer>
  <script src="/js/jquery-2.2.3.min.js"></script>
  <script src="/js/masonry.pkgd.min.js"></script>
  <script src="/js/imagesloaded.pkgd.min.js"></script>
  
  <script>

const container = document.querySelector('.index-content');
let msnry;

if(container){
  $(container).imagesLoaded( function() {
  // init Masonry after all images have loaded
  msnry = new Masonry( container, {
    columnWidth: '.grid-sizer',
    gutter: '.grid-gutter',
    itemSelector: '.grid',
    transitionDuration: '0.1s'
  });

  imgLoadHandler = () => { msnry.layout(); };
  $('img').bind('load', imgLoadHandler);

  // html5 video. As they load, call masonry
  document.querySelectorAll('video').forEach(vid => 
    vid.addEventListener('loadeddata', (event) => {
      msnry.layout();
    })
  )

});

}




</script>
