<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description_metatag }}{% endif %}">
  <meta name="keywords" content="webGL, threejs, openFrameworks, creative coder, shaders, freelancer, computer vision, berlin">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">


  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

{% if page.math %}
  {% include mathjax_support.html %}
{% endif %}

  <script>
  // https://scottjehl.github.io/picturefill/
  // Picture element HTML5 shiv
  document.createElement( "picture" );
  </script>
  <script src="/js/picturefill.min.js" async></script>

</head>
