<header>
  <div class ="top">
    <div class = "top_content">
      <h1><a href = "/">Davide Prati</a></h1>
      <p class = "links">
        <a href = "mailto:lastexxit@gmail.com">lastexxit@gmail.com</a>
        <a href = "https://twitter.com/edapx">Twitter</a>
        <a href = "https://www.instagram.com/edapx/">Instagram</a>
        <a href = "https://github.com/edap">Github</a>
        <a href = "http://www.iocose.org">IOCOSE</a>
      </p>

      <p class = "links">
        <a href = "/posts">Notes</a>
        <a href = "/tools">Tools</a>
      </p>

    </div>
  </div>
</header>
