{% capture pngName assetPath gridClass %}
    {{ include.pngName include.assetPath include.gridClass }}
{% endcapture %}

{% if include.gridClass contains "grid l2" %}
    <img class ="{{ include.gridClass }}" srcset =
    "{{ include.assetPath }}{{ include.pngName }}-small.jpg 640w,
    {{ include.assetPath }}{{ include.pngName }}-medium.jpg 1280w,
    {{ include.assetPath }}{{ include.pngName }}-large.jpg 1940w"
    sizes="60vw">
{% endif %}

{% if include.gridClass contains "grid l3" %}
    <img class ="{{ include.gridClass }}" srcset =
    "{{ include.assetPath }}{{ include.pngName }}-small.jpg 640w,
    {{ include.assetPath }}{{ include.pngName }}-medium.jpg 1280w,
    {{ include.assetPath }}{{ include.pngName }}-large.jpg 1940w,
    {{ include.assetPath }}{{ include.pngName }}.jpg 2600w"
    sizes="96vw">
{% endif %}


{% unless include.gridClass contains "grid l3" %}
    {% unless include.gridClass contains "grid l2" %}
        <img class ="{{ include.gridClass }}" srcset =
        "{{ include.assetPath }}{{ include.pngName }}-small.jpg 640w,
        {{ include.assetPath }}{{ include.pngName }}-medium.jpg 1280w,
        {{ include.assetPath }}{{ include.pngName }}-large.jpg 1940w"
        sizes="(min-width: 1000px) 33vw">
    {% endunless %}
{% endunless %}
