/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}


/**
* via https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
* and from comments http://codepen.io/jakob-e/pen/LEdWNB
*/
.sixteen-nine {
  @include aspect-ratio(16, 9);
  @include iframe-aspect-ratio;
}
.four-three {
  @include aspect-ratio(4, 3);
  @include iframe-aspect-ratio;
}

/**
 * Posts
 */
.post-container {
  width: $content-width;
  margin-left: auto ;
  margin-right: auto ;
  @include media-query($on-laptop) {
      width: 98%;
      margin-left: 1%;
      margin-right: 1%;
  }
}

.post-content img{
  width: 100%!important;
  height: auto;
  max-width: 100%;
}
.post-content p{
  max-width: $content-width;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}


.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
    @include media-query($on-phone) {
        font-size: 28px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


/**
 * Home Page, all of these rules are used.
 */

.content-container {
  max-width: 2600px;
  margin: 0 auto;
}

.grid-gutter {
  width: 1%;
}

.index-content {
  width: 96%;
  margin: 0 2% 0 2%;
}
.grid, .grid-sizer{
  width: 32.666%;
  margin: 0 0 1% 0;
}

.grid.l2 {
  width: 66.333%;
}

.grid.l3 {
  width: 100%;
}

.index-content a:hover {
  opacity: 1;
}

@include media-query($on-palm) {
  .grid {
    width: 100% !important;
    margin-bottom: 4%;
  }
}

/**
 * header top
 */

.top {
  width: 100%;
  margin: 0;
  padding: 3em 0 3em 0;
  text-align: left;

  a {
    margin: 0 0.8em 0 0;
  }

  p {
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    .links {
      margin-top: 2.5em;
      font-weight: 400;
      font-size: 0.9em;
    }
  }

  .project-details {
    margin: 2.5em auto 1.25em auto;
  }
}

.top_content {
  margin: 0 8% 0 8%;
}
.top_content h1{
  text-align: center;
  font-size:42px;
  @include media-query($on-laptop) {
      font-size: 36px;
  }
  @include media-query($on-phone) {
      font-size: 28px;
  }
}
.top_links{
  margin-top: 2.5em;
  font-weight: 400;
  font-size: 0.9em;
}

/**
* text general
*/
p {
    max-width: 800px;
    .large {
      font-size: 1.3em;
      line-height: 1.4em;
      font-weight: 400;
    }
}
