$palm-black : #504e4e;
$border-width: 1px;

h1.palm-title {
    color: $palm-black;
    width:100%;
    text-align:center;
    line-height:0.1em;
    margin:0px 0 60px;

}

h1.palm-title span {
    font-family: 'IM Fell English', serif;
    background:#fff;
    padding:0 10px;
}

.index-content {
    width: 100%;
    max-width: 1160px;
    color: $palm-black;
    border:$border-width solid $palm-black;
    margin-bottom:30px;
    margin-top:30px;
}
.palm{
    margin: auto;
    margin-top:30px;
}


.palm-desc{
    text-align:center;
    font-size: 12px;
    font-family: 'IM Fell English', serif;
}

.palm-desc-title{
    font-size:16px;
    display:none;
}

.palm-desc-tree{
    width:44%;
    float:left;
}
.palm-desc-leaves{
    width:44%;
    float:left;
}

.palm-generator-text{
    padding-top:30px;
    text-align:center;
    font-size: 16px;
    font-family: 'IM Fell English', serif;
    padding-bottom:30px;
}
.palm-generator-text p{
    max-width:100%;
}


//masonry
//* { box-sizing: border-box; }


/* ---- grid ---- */

.grid {

}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid ---- */

.grid {
    width: 32.6%;
    //width:405px;
}

.grid-gutter {
    width: 1%;
}

.grid {
    max-width: 1200px;
    margin-top:20px;
    float: left;
}

.grid--width2 { width:  810px; }
.grid--width3 { width:  1240; }

.grid--height2 { height: 400px; }
.grid--height3 { height: 460px; }
.grid--height4 { height: 500px; }
.grid--height5 { height: 560px; }
.grid--height6 { height: 600px; }
.grid--height7 { height: 560px; }
.grid--height8 { height: 700px; }
.grid--height9 { height: 760px; }
.grid--height10 { height: 800px; }
.grid--height11 { height: 860px; }
.grid--height12 { height: 900px; }
.grid--height13 { height: 960px; }
.grid--height14 { height: 1000px; }
