<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grass demo</title>
    <script defer src="https://cloud.umami.is/script.js" data-website-id="8d2ae866-edf8-4917-8777-63622d23a641"></script>

    <style>
    body {
        background:#b04130;
        padding:0;
        margin:0;
        overflow:hidden;
    }
    .prevnext {
        position: absolute;
        bottom: 0px;
    }
    </style>
    

  <link rel="stylesheet" href="/css/main.min.css">
</head>
<body>
      <div id="container"></div>

      <script src="/grass/js/three.81.min.js"></script>
      <script type="text/javascript" src="/grass/js/dat.gui.min.js"></script>
      <script type="text/javascript" src="/grass/js/OrbitControls.js"></script>
      <script type="text/javascript" src="/grass/js/stats.min.js"></script>
      <script type="text/javascript" src="/grass/js/jquery-2.2.4.min.js"></script>
      <script type="text/javascript" src="/grass/js/dat.gui.min.js"></script>
      <script type="text/javascript" src="/grass/js/index.js"></script>


    <div class="prevnext">
      <div class="linkworks left"><a href="/demo/tuot" alt="Previous" class="next-work"> &#9756; </a></div>
      <div class="linkworks quit"><a href="/" alt="Quit" class="quit">&#9757;</a></div>
      <div class="linkworks right"><a href="/demo/z-fighter/" alt="Next" class="prev-work"> &#9758; </a></div>
    </div>

</body>
</html>