{{ define "window_title"}}
    {{ .Params.window_title }}
{{ end }}

{{ define "main" }}
    <div class="masonry-container">
        <div class="index-content">
        <div class="grid-gutter"></div>
        {{ .Content }}

        {{ partial "taxonomy.html" . }}

        {{ if .PrevInSection }}
        <a href="{{.PrevInSection.Permalink}}">Previous Work</a>
        {{ end }}
        {{ if .NextInSection }}
        <a href="{{.NextInSection.Permalink}}">Next Work</a>
        {{ end }}

        </div>
    </div>
    {{ partial "footer-masonry.html" . }}
{{ end }}



