{{ define "window_title"}}
    {{ .Params.window_title }}
{{ end }}

{{ define "main" }}
    {{ if (isset .Params "cover") }}
        {{ partial "figure.html" . }}
    {{ end }}
    <div class="container">
    {{ .Content }}

    {{ partial "taxonomy.html" . }}

    {{ if .PrevInSection }}
    <a href="{{.PrevInSection.Permalink}}">Previous Work</a>
    {{ end }}
    {{ if .NextInSection }}
    <a href="{{.NextInSection.Permalink}}">Next Work</a>
    {{ end }}

    </div>
    {{ partial "footer-masonry.html" . }}
{{ end }}



