<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painthead</title>
    <script defer src="https://cloud.umami.is/script.js" data-website-id="8d2ae866-edf8-4917-8777-63622d23a641"></script>

    <style>
  .prevnext {
      position: absolute;
      bottom: 0px;
  }
  </style>
    
  <script type="module" crossorigin src="/painthead/assets/index-CxEx7cAW.js"></script>
  <link rel="stylesheet" href="/css/main.min.css">
  <link rel="stylesheet" href="/painthead/assets/index-DBxXTeKv.css">

</head>
<body>
    
    <div id="root"></div>
    <div class="prevnext">
      <div class="linkworks left"><a href="/demo/be-the-sun" alt="Previous" class="next-work"> &lt;&lt; </a></div>
      <div class="linkworks right"><a href="/demo/tuot" alt="Next" class="prev-work"> &gt;&gt; </a></div>
    </div>

</body>
</html>