{{ define "window_title"}}
    {{ .Params.window_title }}
{{ end }}

{{ define "main" }}
<div id="root"></div>
    <div class="masonry-container">
        <div class="index-content palm-generator">
            <div class="grid-gutter"></div>
            
            <!-- <div class="grid l3"><h1>Palm Generator's Collection</h1></div> -->
            <div class="grid l3-12 grid-sizer">
            <img src="/img/works/palm-generator/5.png">
            
            <div class="palm-desc">
                <div class="palm-desc-tree">
                  spread: 0.5<br/>
                  angle: 137.5<br/>
                  num: 505<br/>
                  growth: 0.05<br/>
                  foliage_start_at: 24.54<br/>
                  trunk_regular: false <br/>
                  angle_open: 30.88 <br/>
                  starting_angle_open: 50<br/>
                </div>
          
                <div class="palm-desc-leaf">
                   length: 52<br/>
                   length_stem: 2<br/>
                      width_stem: 0.30<br/>
                      leaf_width: 0.5<br/>
                      leaf_up: 1.5<br/>
                      density: 19<br/>
                      curvature: 0.01<br/>
                      curvature_border: 0.002<br/>
                      leaf_inclination: 1<br/>
                </div>
            </div>
            </div>
          
            <div class="grid l3-12">
            <img src="/img/works/palm-generator/12.png">
            
            <div class="palm-desc">
                <div class="palm-desc-tree">
                  spread: 0.70<br />
                  angle: 135.97<br />
                  num: 962<br />
                  growth: 0.25<br />
                  foliage_start_at: 130.72<br />
                  trunk_regular: false<br />
                  angle_open: 50.29<br />
                  starting_angle_open: 59.37<br />
                </div>
                <div class="palm-desc-leaf">
                  length: 90<br />
                  length_stem: 40<br />
                  width_stem: 0.8<br />
                  leaf_width: 0.5<br />
                  leaf_up: 0.4<br />
                  density: 7<br />
                  curvature: 0.03<br />
                  curvature_border: 0.003<br />
                  leaf_inclination: 1<br />
                </div>
            </div>
            </div>
          
            <div class="grid l3-12">
            <img src="/img/works/palm-generator/13.png">
            
            <div class="palm-desc">
                <div class="palm-desc-tree">
                  spread: 0.5<br />
                  angle: 137.66<br />
                  num: 628<br />
                  growth: 0.25<br />
                  foliage_start_at: 65.64<br />
                  trunk_regular: true<br />
                  angle_open: 75.87<br />
                  starting_angle_open: 51.65<br />
                </div>
                <div class="palm-desc-leaf">
                  length: 90<br />
                  length_stem: 2<br />
                  width_stem: 0.2<br />
                  leaf_width: 1<br />
                  leaf_up: 6<br />
                  density: 16<br />
                  curvature: 0.01<br />
                  curvature_border: 0.002<br />
                  leaf_inclination: 0.8<br />
                </div>
            </div>
            </div>
          
          
          
            <div class="grid l3-12">
            <img src="/img/works/palm-generator/3.png">
            <div class="palm-desc">
                <div class="palm-desc-tree">
                  spread: 0<br />
                  angle: 137.5<br />
                  num: 196<br />
                  growth: 0.2<br />
                  foliage_start_at: 21.12<br />
                  trunk_regular: true<br />
                  angle_open: 20.29<br />
                  starting_angle_open: 50<br />
                </div>
                <div class="palm-desc-leaf">
                  length: 55<br />
                  length_stem: 8<br />
                  width_stem: 0.8<br />
                  leaf_width: 0.4<br />
                  leaf_up: 6<br />
                  density: 8<br />
                  curvature: 0.04<br />
                  curvature_border: 0.004<br />
                  leaf_inclination: 0.70<br />
                </div>
            </div>
            </div>
           
            <div class="grid l3-12">
            <img src="/img/works/palm-generator/2.png">
            
            <div class="palm-desc">
                <div class="palm-desc-tree">
                  spread: 0.30<br />
                  angle: 137.5<br />
                  num: 431<br />
                  growth: 0.18<br />
                  foliage_start_at: 10.84<br />
                  trunk_regular: false<br />
                  angle_open: 0<br />
                  starting_angle_open: 50<br />
                </div>
                <div class="palm-desc-leaf">
                  length: 55<br />
                  length_stem: 2<br />
                  width_stem: 0.5<br />
                  leaf_width: 0.60<br />
                  leaf_up: 1.5<br />
                  density: 80<br />
                  curvature: 0.02<br />
                  curvature_border: 0.004<br />
                  leaf_inclination: 0.1<br />
                </div>
            </div>
            </div>
          
            <div class="grid l3-12">
            <img src="/img/works/palm-generator/8.png">
            
            <div class="palm-desc">
                <div class="palm-desc-tree">
                  spread: 0.1<br />
                  angle: 137.5<br />
                  num: 196<br />
                  growth: 0.25<br />
                  foliage_start_at: 14.27<br />
                  trunk_regular: false<br />
                  angle_open: 49.40<br />
                  starting_angle_open: 50<br />
                </div>
                <div class="palm-desc-leaf">
                  length: 50<br />
                  length_stem: 26<br />
                  width_stem: 0.5<br />
                  leaf_width: 1<br />
                  leaf_up: 0.1<br />
                  density: 17<br />
                  curvature: 0.05<br />
                  curvature_border: 0.01<br />
                  leaf_inclination: 1<br />
                </div>
            </div>
            </div>
          
            <div class="grid l3-12">
            <img src="/img/works/palm-generator/6.png">
            
            <div class="palm-desc">
                <div class="palm-desc-tree">
                  spread: 0.1<br />
                  angle: 137.5<br />
                  num: 974<br />
                  growth: 0.21<br />
                  foliage_start_at: 55.37<br />
                  trunk_regular: true<br />
                  angle_open: 43.23<br />
                  starting_angle_open: 50<br />
                </div>
                <div class="palm-desc-leaf">
                  length: 59<br />
                  length_stem: 3<br />
                  width_stem: 0.5<br />
                  leaf_width: 0.4<br />
                  leaf_up: 1.5<br />
                  density: 38<br />
                  curvature: 0.01<br />
                  curvature_border: 0.005<br />
                  leaf_inclination: 0.9<br />
                </div>
            </div>
            </div>
            
          
            <div class="grid l3-12">
            <img src="/img/works/palm-generator/4.png">
            
            <div class="palm-desc">
                <div class="palm-desc-tree">
                  spread: 0.1<br />
                  angle: 137.5<br />
                  num: 1011<br />
                  growth: 0.25<br />
                  foliage_start_at: 55.37<br />
                  trunk_regular: false<br />
                  angle_open: 80<br />
                  starting_angle_open: 50<br />
                </div>
                <div class="palm-desc-leaf">
                  length: 52<br />
                  length_stem: 3<br />
                  width_stem: 0.5<br />
                  leaf_width: 0.4<br />
                  leaf_up: 1.5<br />
                  density: 34<br />
                  curvature: 0.03<br />
                  curvature_border: 0.005<br />
                  leaf_inclination: 0.2<br />
                </div>
            </div>
            </div>
          
            <div class="grid l3-12">
            <img src="/img/works/palm-generator/9.png">
            
            <div class="palm-desc">
                <div class="palm-desc-tree">
                  spread: 0.30<br />
                  angle: 135.71<br />
                  num: 307<br />
                  growth: 0.25<br />
                  foliage_start_at: 48.52<br />
                  trunk_regular: false<br />
                  angle_open: 52.93<br />
                  starting_angle_open: 50<br />
                </div>
                <div class="palm-desc-leaf">
                  length: 50<br />
                  length_stem: 26<br />
                  width_stem: 0.5<br />
                  leaf_width: 0.30<br />
                  leaf_up: 0.1<br />
                  density: 11<br />
                  curvature: 0.01<br />
                  curvature_border: 0.01<br />
                  leaf_inclination: 1<br />
                </div>
            </div>
            </div>
          
            <div class="grid l3-12">
            <img src="/img/works/palm-generator/10.png">
            
            <div class="palm-desc">
                <div class="palm-desc-tree">
                  spread: 0.7<br />
                  angle: 137.5<br />
                  num: 307<br />
                  growth: 0.25<br />
                  foliage_start_at: 103<br />
                  trunk_regular: false<br />
                  angle_open: 6.17<br />
                  starting_angle_open: 53.30<br />
                </div>
                <div class="palm-desc-leaf">
                  length: 50<br />
                  length_stem: 26<br />
                  width_stem: 0.5<br />
                  leaf_width: 0.3<br />
                  leaf_up: 0.1<br />
                  density: 3<br />
                  curvature: 0.01<br />
                  curvature_border: 0.004<br />
                  leaf_inclination: 1.00<br />
                </div>
            </div>
            </div>
          
            <div class="grid l3-12">
            <img src="/img/works/palm-generator/7.png">
            
            <div class="palm-desc">
                <div class="palm-desc-tree">
                  spread: 0.1<br />
                  angle: 137.5<br />
                  num: 406<br />
                  growth: 0.12<br />
                  foliage_start_at: 86.19<br />
                  trunk_regular: false<br />
                  angle_open: 36.17<br />
                  starting_angle_open: 50<br />
                </div>
                <div class="palm-desc-leaf">
                  length: 50<br />
                  length_stem: 20<br />
                  width_stem: 0.2<br />
                  leaf_width: 0.8<br />
                  leaf_up: 1.5<br />
                  density: 11<br />
                  curvature: 0.04<br />
                  curvature_border: 0.005<br />
                  leaf_inclination: 0.9<br />
                </div>
            </div>
            </div>
          
          
            <div class="grid l3-12">
            <img src="/img/works/palm-generator/11.png">
            
            <div class="palm-desc">
                <div class="palm-desc-tree">spread: 0.4<br />
                  angle: 136.62<br />
                  num: 1135<br />
                  growth: 0.25<br />
                  foliage_start_at: 96.47<br />
                  trunk_regular: false<br />
                  angle_open: 47.64<br />
                  starting_angle_open: 65.99<br />
                </div>
                <div class="palm-desc-leaf">
                  length: 90<br />
                  length_stem: 7<br />
                  width_stem: 0.8<br />
                  leaf_width: 0.5<br />
                  leaf_up: 6<br />
                  density: 30<br />
                  curvature: 0.02<br />
                  curvature_border: 0.001<br />
                  leaf_inclination: 0.9<br />
                </div>
            </div>
        </div>
        
        <div class="grid l3-12">
            <img src="/img/works/palm-generator/1.png">
            
            <div class="palm-desc">
                <div class="palm-desc-tree">
                  spread: 0<br />
                  angle: 137.5<br />
                  num: 500<br />
                  growth: 0.24<br />
                  foliage_start_at: 21.12<br />
                  trunk_regular: true<br />
                  angle_open: 26.46<br />
                  starting_angle_open: 50<br />
                </div>
                <div class="palm-desc-leaf">
                  length: 50<br />
                  length_stem: 4<br />
                  width_stem: 0.5<br />
                  leaf_width: 0.5<br />
                  leaf_up: 1.5<br />
                  density: 30<br />
                  curvature: 0.03<br />
                  curvature_border: 0.005<br />
                  leaf_inclination: 0.70<br />
                </div>
            </div>
          </div>
              

            

        </div>     

        <div class = "work-text">
            <div class="work-title"><h2>{{.Params.title}}</h2></div>
            <div class="work-client">
                {{ partial "client.html" . }}
            </div>
            <div class="work-description">
                {{ .Params.description | markdownify }}
            </div>
            <div >
                {{ partial "taxonomy.html" . }}
            </div>
        </div>
        <script deref src="/js/main.66f23223.js"></script>
        {{ partial "prevnext.html" . }}

    </div>
    {{ partial "footer-masonry.html" . }}
{{ end }}



