{{ define "main" }}
    <div class="masonry-container">
        <div class="index-content">
            <div class="grid-gutter"></div>
            <div class="grid-sizer"></div>

            <h1>{{ .Title }}</h1>
            <div>
                {{ range .RegularPages }}
                <a href="{{ .Permalink }}">
                    <img src="/img/works/nondual/0003-small.jpg" class="grid">
                  </a>
                {{ end }}
            </div>
            


        </div>     


        {{ partial "prevnext.html" . }}

    </div>
    {{ partial "footer-masonry.html" . }}
{{ end }}