{{ define "window_title"}}
    {{ .Params.window_title }}
{{ end }}

{{ define "main" }}
    <div class="masonry-container">
        <div class="index-content">
            <div class="grid-gutter"></div>
            <div class="grid-sizer"></div>
              
            {{ .Content }}

        </div>     

        <div class = "work-text">
            <div class="work-title"><h2>{{.Params.title}}</h2></div>
            <div class="work-client">
                {{ partial "client.html" . }}
            </div>
            <div class="work-description">
                {{ .Params.description | markdownify }}
            </div>
            <div >
                {{ partial "taxonomy.html" . }}
            </div>
        </div>

        {{ partial "prevnext.html" . }}

    </div>
    {{ partial "footer-masonry.html" . }}
{{ end }}



