{{ define "window_title"}}
    {{ .Params.window_title }}
{{ end }}

{{ define "main" }}
    <div class="masonry-container">
        <div class="index-content">
            <div class="grid-gutter"></div>
            <div class="grid-sizer"></div>
              
            {{ .Content }}
            
            <div class = "grid l3">
            

            </div>
        </div>     

        <div class = "work-text">
            <div class="work-client">
                {{ partial "client.html" . }}
            </div>
            <div class="work-description">
                {{ .Params.description}}
            </div>
            <div class="taxonomy">
                {{ partial "taxonomy.html" . }}
            </div>



        </div>

        <div class = "work-text">
            {{ if .PrevInSection }}
            <div class="linkworks left"><a href="{{.PrevInSection.Permalink}}" class="next-work">Previous Work</a></div>
            {{ end }}
            {{ if .NextInSection }}
            <div class="linkworks right"><a href="{{.NextInSection.Permalink}}" class="prev-work">Next Work</a></div>
            {{ end }}
        </div>

    </div>
    {{ partial "footer-masonry.html" . }}
{{ end }}



