/*
TODO: Layout colonna centrale e due voci nel menu, about e teaching. Sotto vengono listati i lavori
La home si apre con una lista dei tuoi works. Per ora non divisi in categorie.
I lavori hanno categories (personal projects, commissions) e tags (unreal engine, c++, etc..)
La pagina personale di ogni singolo progetto:
0) home lista lavori
1) ha la taxonomy. Pagine per la taxonomy
3) pagine singole about e teaching
4) pagina singola palm generator
4) pagina singola TUOT
4) Supporta img gallery, code snippets e quant'altro
5) supporta three.js

Fare una chiusa. Quello che c'e' su deve essere perfetto.
*/


/*
Rules. Use rem for font size
Width % and max-width
use PX For anything you want a certain, fixed size, 
use rem For anything you want to scale with font-size, 
Use % for anything you want to scale to the available space in the window/container

*/

@font-face {
    font-family: 'Iosevka';
    src: url('/fonts/IosevkaNerdFontMono-Regular.ttf') format('truetype');
}

@font-face {
font-family: 'BigBlue Terminal';
        src: url('/fonts/BigBlueTerm437NerdFontMono-Regular.ttf') format('truetype');
}

/*

@font-face {
    font-family: 'Gohu';
    src: url('/fonts/GohuFont14NerdFont-Regular.ttf') format('truetype');
}

@font-face {
font-family: '3270';
    src: url('/fonts/3270NerdFontMono-Condensed.ttf') format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    src: url('/fonts/CaskaydiaCoveNerdFont-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Terminus';
    src: url('/fonts/TerminessNerdFontMono-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Hurmit';
    src: url('/fonts/HurmitNerdFontMono-Regular.otf') format('opentype');
} */


/* Main structure*/

:root {
    --box-margin: 1em;
    --text-color:rgb(255, 253, 237);
    --link-color:rgb(153, 254, 53);
}

body {
    font-family: 'Iosevka', sans-serif;
    background-color: rgb(28, 27, 35);
    color: rgb(255, 253, 237);
    display: flex;
    /* min-height: 100vh; */
    flex-direction: column;
    margin: 0;
}
.main{
    margin-top: 6rem;
}

a {
    color: var(--text-color);
    text-decoration: underline;
}

a:hover{
    color: var(--link-color);
}
hr { border: 1px solid var(--link-color);
}

/* images*/

figure {
    margin: 0px;
    padding-top: 0;
}

img {
    width:100%;
}

/* Navigation */

nav {
    text-align: right;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 4;
    padding: 0.1rem;
    /* font-size: 16pt; */
    font-size: 1.5rem;
    font-family: 'BigBlue Terminal', sans-serif;
    float: right;
    /* background-color: beige; */
    background: transparent
}

nav > ul{
    padding:1rem 3rem 1rem 0rem;
    list-style: none;
}

nav > ul > li {
    display: inline;
}

/* Flex containers*/

.container{
    margin: auto;
    max-width: 80%;
    display: flex;
    flex-wrap:wrap;
    gap: 0.9rem;
    padding-top: 5rem;
    flex: 1;
    flex-direction: row; /* put it to row later*/
    flex-basis: var(--card-margin);
}

.work-thumb{
    display: flex;
    flex-wrap: wrap;
    margin: var(--box-margin);
    flex: 1 1 280px;
}

/* Case specific */
.single-medium-column {
    width: 40rem;
    margin-left: auto;
    margin-right: auto;  
}

/* Mobile adjsustments */
@media (max-width: 500px) {
    .container {
        max-width: 100%;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    nav{
        text-align: center;
    }
    nav > ul{
        padding:1rem 0rem 1rem 0rem;
    }    
}