body {
    font-family: sans-serif;
    background-color: rgb(141, 124, 227);
    color: rgb(49, 110, 208);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

p {
    margin: 0;
    padding-top: 0.4rem
}

figure {
    margin-top: 0px;
    padding-top: 0;
}

img {
    width:100%;
}

.flex {
    display: flex;
    flex-wrap:wrap;
    gap: 0.9rem;
}

nav {
    float: right;
    padding:0;
    background-color: beige;
}

nav > ul{
    list-style: none;
}

nav > ul > li {
    display: inline;
}

.container{
    flex: 1;
    /* margin: 0.3rem; */
    border: 1px solid red;
    /* gap: 0.9rem; */
    flex-direction: row;
}

.split-hor{
    flex-direction: col; 
    min-height: 100%;
    flex:1;
}
.split-ver{
    flex-direction: column;
    min-height: 100%;
    flex: 1;
}

.window{
    background-color: rgb(201, 199, 114);
    /* flex is first flex-grow, then flex-shrink, then flex-basis*/
    /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

    /* TODO, 
    get scrollbar right
    https://webdesign.tutsplus.com/how-to-make-responsive-scrollable-panels-with-flexbox--cms-23269t
    */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 280px;
    border-bottom: 3px double greenyellow;
    border-left: 3px double greenyellow;
    border-right: 3px double greenyellow;
    align-items: stretch;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
    overflow-y: scroll;
}

h3.window-title{
    border-top: 3px double greenyellow;
    border-bottom: 3px double greenyellow;
    margin: 0;
}