html, body, .container{
    height: 99%;
    margin: 0;
}

.flex {
    display: flex;
    flex-wrap:wrap;
}

body {
    font-family: sans-serif;
    background-color: rgb(34, 15, 130);
    color: chartreuse;
}
.menu {
    flex-direction: row;
    width: 100%;
    background-color: aqua;
    color: red;
}

.container{
    margin: 0.3rem;
    border: 1px solid red;
    gap: 0.5rem;
    flex-direction: row;
}

.split-hor{
    flex-direction: row; 
    min-height: 100%;
}
.split-ver{
    flex-direction: column;
    min-height: 100%;
}

.item{
    /* flex is first flex-grow, then flex-shrink, then flex-basis*/
    /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 280px;
    border: 2px dotted greenyellow;
    align-items: stretch;
}

.item-menu{
    /* flex is first flex-grow, then flex-shrink, then flex-basis*/
    /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
    border: 2px dotted greenyellow;
    align-items: stretch;
}