--- 
layout: post
title: Ruby On Rails Tutorial, autenticazione con clearance
published: true
meta: 
  _edit_last: "1"
  _wp_old_slug: ""
tags: 
- authentication
- clearance
- ruby on rails
- tutorial
type: post
status: publish
---
<a href="http://github.com/thoughtbot/clearance">Clearance</a> è una gem per Ruby On Rails che permette di integrare velocemente un sistema di autenticazione e registrazione degli utenti. Per installarla nella vostra app:
da root
[bash]
# gem install clearance
[/bash]
poi da utente normale, modificate il file environment.rb e aggiungete la linea "config.gem "clearance", :version => "0.8.8"".
Spostatevi nella directory della vostra app.
[bash]
rake gems:install
rake gems:unpack
[/bash] 
Ora, nella vostra cartella vendor/gems dovrebbe esserci clearance. Installare le gemme in vendor
quindi generate i controller, le view e i model necessari:
[bash]
script/generate clearance
[/bash]

per aggiungere la richiesta d'autenticazione nel vostro controller, semplicemente aggiungete questo codice nel vostro metodo before_filter
{% highlight ruby %}
 before_filter :authenticate
{% endhighlight %}
Per poter includere i link al login/logout nella vostra applicazione, aggiungete nella view
{% highlight ruby %}
  <div id="navigation">
    <% if signed_in? %>
      <%= link_to 'Sign out', sign_out_path %>
    <% else %>
      <%= link_to 'Sign up', sign_up_path %>
      <%= link_to 'Sign in', sign_in_path %>
    <% end %>
  </div>
{% endhighlight %}
Se tutto ha funzionato, a questo indirizzo dovreste vedere il form di login http://localhost:3000/sign_in.
Per una lista completa delle url raggiungibili:
[bash]
rake routes
[/bash]
Segnalo la <a href="http://groups.google.com/group/thoughtbot-clearance">ML</a> del progetto e il <a href="http://wiki.github.com/thoughtbot/clearance/">wiki</a> su github, utili nel caso dovreste avere difficoltà durante la configurazione.
