--- 
layout: post
title: rails, creazione pagine statiche
published: true
meta: 
  _edit_last: "1"
  _wp_old_slug: ""
tags: 
- rails
- static pages
type: post
status: publish
---
Supponiamo di avere delle pagine che non richiedono interazioni con il databasa, per esempio 'info', 'terms' e 'contact'.
creiamo le views per le pagine statiche così:
[shell]
cd app/views
mkdir pages
touch pages/info.html.erb
touch pages/terms.html.erb
touch pages/contact.html.erb
[/shell]

Creiamo un controller chiamato pages_controller.rb
{% highlight ruby %}
class PagesController < ApplicationController
  def show
    page = params[:id]
    render :template => "pages/#{params[:id]}"
  end
end
{% endhighlight %}

in routes.rb aggiungiamo questa regola
{% highlight ruby %}
  map.page ':id', :controller => 'pages',
                  :action => 'show', 
                  :requirements => { :id => /info|terms|contact/ }
{% endhighlight %}

nel nostro layout, aggiungiamo il menu con le voci appena create:
{% highlight ruby %}
<%= link_to 'Info', page_path('info') %>
<%= link_to 'Terms', page_path('terms') %>
<%= link_to 'Contact', page_path('contact') %>
{% endhighlight %} 
