--- 
layout: post
title: Ruby on Rails Devise authentication
published: true
meta: 
  _edit_last: "1"
tags: 
- authentication
- devise
- ruby
- ruby on rails
type: post
status: publish
---
Aggiungete devise nel vostro Gemfile e lanciate "bundle install".
Ora create i file di configurazione necessari:
{% highlight ruby%}
rails generate devise:install
{% endhighlight%}
Definite l'url che verra' utilizzata per i link di conferma sulle email di registrazione. In configurations/environments/development.rb

{% highlight ruby%}
#Devise email
config.action_mailer.default_url_options = { :host =&gt; 'localhost:3000' }

{% endhighlight%}
Creiamo il file di migrazione e lo user model
{% highlight ruby%}
rails generate devise User
{% endhighlight%}
Nello User model appena creato Models/user.rb , possiamo scegliere quali moduli includere od escludere, semplicemente togliendo quelli di default o aggiungendo quelli presenti nel commento del file user.rb.  A mio avviso quelli di default vanno piu' che bene.

{% highlight ruby%}
class User &lt; ActiveRecord::Base
# Include default devise modules. Others available are:
# :token_authenticatable, :confirmable, :lockable and :timeoutable :recoverable,
devise :database_authenticatable, :registerable,
:rememberable, :trackable, :validatable

# Setup accessible (or protected) attributes for your model
attr_accessible :email, :password, :password_confirmation, :remember_me
end
{% endhighlight%}
Ora aprite il file Migrations/***devise_create_users.rb e commentate o aggiungete i moduli che avete aggiunto to tolto nello User Model. Poi fate la migrazione.
[ruby]
rake db:migrate
[/ruby]
Con "rake routes" potete vedere tutte le routes messe a disposizione dalla vostra applicazione. Trovo questo comendo davvero molto utile, anche nel debug di un applicazione, o quando vogliamo verificare che ogni action abbia la sua view ben fatta.Un'altra cosa che cakePHP non ha (cominciano ad essere tante).
Ora se puntate il browser alla seguente url /users/sign_in potrete loggarvi. Per registrarvi andate qui /users/sign_up. Io ho incontrato il seguente errore:
[ruby]
No route matches "/users/sign_up"
[/ruby]
Per risolverlo ho definito lo scope nel file routes, come spiegato qui <a href="http://stackoverflow.com/questions/2349604/using-devise-with-rails-3-beta">http://stackoverflow.com/questions/2349604/using-devise-with-rails-3-beta</a>
Per visualizzare i messaggi d'errore nella vostra applicazione, aggiungete queste linee di codice nel vostro application.html.erb.
[ruby]
<%- flash.each do |name, msg| -%>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<%- end -%>
[/ruby]

Sempre in application.html.erb, aggiungete i link alle azioni sign_in e sign_out. Scoprite i relativi path attraverso "rake routes" e aggiungete questo codice dopo il tag body:
[ruby]
<div id="user_nav">signed in as</div>
[/ruby]
Per circoscrivere il raggio d'azione di un utente non loggato all'interno della nostra applicazione, definiamo quali azini sono ad esso concesse. Poniamo il caso che solo un utente loggato puo' creare o modificare un post, mentre l'utente sloggato puo' solo vederli.
Nel nostro "posts_controller" aggiungiamo la seguente funzione:
[ruby]
before_filter :authenticate_user!, :except =&gt; [:index, :show]
[/ruby]
Per modificare le views di devise, lanciamo "rails g devise:views", ed otterremo un output simile a questo:
[ruby]
create app/views/devise
create app/views/devise/confirmations/new.html.erb
create app/views/devise/mailer/confirmation_instructions.html.erb
create app/views/devise/mailer/reset_password_instructions.html.erb
create app/views/devise/mailer/unlock_instructions.html.erb
create app/views/devise/passwords/edit.html.erb
create app/views/devise/passwords/new.html.erb
create app/views/devise/registrations/edit.html.erb
create app/views/devise/registrations/new.html.erb
create app/views/devise/sessions/new.html.erb
create app/views/devise/shared/_links.erb
create app/views/devise/unlocks/new.html.erb
[/ruby]
Modifichiamo i seguenti file a nostro piacimento. Se vogliamo modificare i messaggi d'errore, mettiamo mano al file config/locales/devise_en.yml. Se invece vogliamo modificare le regole di controllo per la registrazione (es passare da "Password is too short (minimum is 6 characters)" a "Password is too short (minimum is 8 characters)") modifichiamo il file initializers/devise.rb.
Per modificare le URL di default con le quali avvengono le azioni di login e logout, apriamo il file routes.rb
[ruby]
devise_for :users, :path_names =&gt; {:sign_in =&gt; "login", :sign_up =&gt; "logout"}
[/ruby].
Il nostro futuro user si logga inserendo email e password, come fare se in futuro ci venisse richiesto di sostituire il campo email con il campo username? prima di tutto aggiungiamo la colonna necessaria:
[ruby]
rails generate migration AddUsernameToUsers username:string
rake db:migrate
[/ruby]
Ora in config/initializers/devise.rb aggiungiamo
[ruby]
config.authentication_keys = [ :username ]
[/ruby]
Questo tutorial e' tratto dai seguenti railcasts:
<a href="http://railscasts.com/episodes/209-introducing-devise">http://railscasts.com/episodes/209-introducing-devise</a>
<a href="http://railscasts.com/episodes/210-customizing-devise">http://railscasts.com/episodes/210-customizing-devise</a>
Qua la <a href="https://github.com/plataformatec/devise/wiki">pagina del progetto su github</a>.
