--- 
layout: post
title: Authorization and users management in rails
published: true
tags: [rails, devise, cancan, admin]
type: post
status: publish
---
<b>Updated at 14/04/2012</b><br />
The goal of this tutorial is to realize a rails application with:<br >
<ul>
<li>A public area whith register, logout and login functionalities</li>
<li>An admin area where the admin can delete/insert/update the users and their roles</li>
<li>The possibility to allowed/denied some parts of the application in relation to the user role</li>
<li>An internal area for the registered user's, where they are allowed to edit their username and password</li>
<li>A different redirect after the login, based on the user's role</li>
</ul>
The whole code is available on this github <a href ="https://github.com/edap/authuser">repo</a>.<br>
After creating a new rails application, install <a href="https://github.com/plataformatec/devise">devise</a> and <a href="https://github.com/ryanb/cancan">cancan</a>, add this two lines to your Gemfile
{% highlight ruby %}
gem "devise"
gem "cancan"
{% endhighlight ruby %}
Then run 'bundle update'.<br>
<h3>Setting up devise </h3>
Install devise in your application with the command 'rails generate devise:install', read carefully the messages for the setup. Follow <a href="http://guides.rubyonrails.org/getting_started.html#hello-rails">the Hello rails paragraph</a> to create a dummy controller and remove the default index page. Now, we have to define a root
{% highlight ruby %}
root :to => "home#index"
{% endhighlight ruby %}
define a default url option for the "recovery email" in the config/environments/development.rb file(remember to change this value when you are ready to go in production)
{% highlight ruby %}
config.action_mailer.default_url_options = { :host => 'localhost:3000' }
{% endhighlight ruby %}
Let's create our model to define the users. Try to avoid strange names, "User" is good enough. Then run the migration
{% highlight ruby %}
rails generate devise User
rake db:migrate
{% endhighlight ruby %}
Add a username field to your model and generate the views.
{% highlight ruby %}
rails g migration AddUsernameToUsers username:string
rake db:migrate
rails g devise:views
{% endhighlight ruby %}
now add this two lines to your routes.rb file
{% highlight ruby %}
devise_for :users, :path_names => {:sign_in => "login", :sign_out => "logout"}, :path => "d"
resources :users
{% endhighlight ruby %}
Remember to add the username field to the attr_accessible in your user model. Try to run the command 'rake routes' to see all the new routes created by Devise. in order to display the links "login", "logout" and "register", add these lines to your views/layout/application.html.erb file. Pay attention to the "method post" in the logout button.
{% highlight erb %}
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<% end %>

<% if user_signed_in? %>
  <% #link_to "My Profile", user_root_path%>
  <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>  
<%end%>
{% endhighlight erb %}
Add your user to the system through the http://0.0.0.0:3000/users/sign_up page. Try to login and logout. If you have problems, check another time this tutorial.
<h3>You are the admin </h3>
Let's say that only a logged user can acces to the admin area. First of all, we have to define an admin area. Add this lines to your routes.rb file
{% highlight ruby %}
namespace :admin do
	match '/' => 'users#index'
	resources :users
end
{% endhighlight ruby %}
Then copy the file app/views/layout/application.html.erb to app/views/layout/admin.html.erb
Second, we need to create an admin_controller in app/controller/admin
{% highlight ruby %}
class Admin::AdminController < ApplicationController
  layout "admin"
  before_filter :authenticate_user!
  def current_ability
    @current_ability ||= AdminAbility.new(current_user)
  end

end
{% endhighlight ruby %}
We need also to create an admin/users_controller.rb and the related views in views/admin/users to manage the users. You can find the whole code on the github repo of this example, copy these files from there.<br/> Comment the "#load_and_authorize_resource" lines in the controllers/admin/users_controller.rb file, we are going to see later what this line is used to. Sign in and go to this address: http://0.0.0.0:3000/admin/users. You will see your user and the links to edit/delete it. But if you click on they, you will receive an error, cause we have no roles
<h3>Add roles to rule the world</h3>
Generate 2 migrations to add the roles table and set up an HABTM relationship with the user table. Edit the migration like follow, thanks <a href="http://www.tonyamoyal.com/2010/07/28/rails-authentication-with-devise-and-cancan-customizing-devise-controllers/">Tony Amoyal</a> for your tutorial:
{% highlight ruby %}
class CreateRoles < ActiveRecord::Migration
  def self.up
    create_table :roles do |t|
      t.string :name
      t.timestamps
    end
  end
 
  def self.down
    drop_table :roles
  end
end
 
class UsersHaveAndBelongToManyRoles < ActiveRecord::Migration
  def self.up
    create_table :roles_users, :id => false do |t|
      t.references :role, :user
    end
  end
 
  def self.down
    drop_table :roles_users
  end
end
{% endhighlight ruby %}
Check the presence of these two tables in your db, if you are using sqlite
{% highlight bash %}
rails db
sqlite> .tables
{% endhighlight bash %}
Create the Role model and add the HABTM relationship to the user model
{% highlight ruby %}
# User Model
class User < ActiveRecord::Base
  has_and_belongs_to_many :roles
....
# Role model
class Role < ActiveRecord::Base
  has_and_belongs_to_many :users
end
{% endhighlight ruby %}
Now add 3 roles in your Roles table using the console.
{% highlight bash %}
rails console
irb(main):001:0> r = Role.new(:name => "Admin")
irb(main):002:0> r.save
irb(main):003:0> r = Role.new(:name => "Registered")
irb(main):004:0> r.save
irb(main):005:0> r = Role.new(:name => "Robbers")
irb(main):006:0> r.save
{% endhighlight bash %}
add :role_ids to the attr_accesible fields in your user model. Add also the following lines.<br> In the first block we define a method to check the users role, in the second we assign a default role for the users that will register to the website, in this case, the role with id 2, "Registered".
{% highlight ruby %}
  before_save :setup_role

  def role?(role)
      return !!self.roles.find_by_name(role.to_s.camelize)
  end

  # Default role is "Registered"
  def setup_role 
    if self.role_ids.empty?     
      self.role_ids = [2] 
    end
  end
{% endhighlight ruby %}
Now login and edit you User, check the Admin checkbox to promote you as admin of your website.
Then logout and create another user through the sign up form. Login with it and try to access the admin area. Wait a moment, you are now a Registered user, you should not reach the /admin area. What's happen?<br/>
The problem is that the admin area authentication is performed with devise, that only checks if a user is logged or not. We have to use CanCan to be sure that only the admin can reach the admin area. Generate an ability class and copy it in the models folder, with the name admin_ablity
{% highlight ruby %}
rails g cancan:ability
cp app/models/ability.rb app/models/admin_ability.rb
{% endhighlight ruby %}
Edit this class as follow
{% highlight ruby %}
class AdminAbility
  include CanCan::Ability
  def initialize(user)
    if user.role? :admin
      can :manage, :all
    end
  end
end
{% endhighlight ruby %}
Edit your app/controller/application_controller.rb to define a method to handle the "Access Denied" exception.
{% highlight ruby %}
class ApplicationController < ActionController::Base
  protect_from_forgery

  def has_role?(current_user, role)
    return !!current_user.roles.find_by_name(role.to_s.camelize)
  end

  rescue_from CanCan::AccessDenied do |exception|
    redirect_to root_url, :alert => exception.message
  end

end
{% endhighlight ruby %}
Now we have to tell to the controllers/admin/admin_controller file to check the role of this user.
{% highlight ruby %}
class Admin::AdminController < ApplicationController
  layout "admin"
  before_filter :verify_admin

  def verify_admin
    :authenticate_user!
    redirect_to root_url unless has_role?(current_user, 'admin')
  end

  def current_ability
    @current_ability ||= AdminAbility.new(current_user)
  end
end
{% endhighlight ruby %}
Now, if you try to access the admin area with a user that is not an Admin, you will redirect to the root. Only the admin has the ability to visit the admin area, and this ability is defined in the admin_ability class. Now we will define the ability to create a post, only the Registered User are allowed to do it, the Robbers can only read. First of all, create a Robbers user and generate a dummy post controller. Remember to define to define two association in the user and post model. A user HasMany posts, a post BelongTo a user.
{% highlight ruby %}
rails generate scaffold Post title:string content:text user_id:integer
{% endhighlight ruby %}
Now open the model/ability.rb class and write this lines. We will see later what the Profile stand for
{% highlight ruby %}
class Ability
  include CanCan::Ability

  def initialize(user)
    user ||= User.new # guest user
    if user.role? :admin
      can :manage, :all
    elsif user.role? :registered
      can :manage, Post do |post|
        post.try(:owner) == user
      end
    else
      can :read, :all
    end
  end
end
{% endhighlight ruby %}
Now login as a robbers and try to create a Post. Yes, you can do it. To avoid this, you'll need to add this line at the beginning of the post controller
{% highlight ruby %}
class PostsController < ApplicationController
  load_and_authorize_resource
{% endhighlight ruby %}
<h3>Edit my profile</h3>
Now we want to allow every user (yes, also the robbers) to edit their username and password. In this case, I will create the profile controller with only one action (dashboard) 'cause i find it useful, and it is pretty a standard in every application. maybe in the future you will add more action to this controller, like a public profile action, or something similar. But to edit the user, i will use the devise logic. We have to create the Profile controller and the dashboard profile view. Copy the profile stuff from the github repo.
Now, we have to edit the route file to inform rails about the profiles controller and to define a user_root, that will be used in the profile_controller.
{% highlight ruby %}
Authuser::Application.routes.draw do
  root :to => "home#index"
  match '/profiles/dashboard' => 'profiles#dashboard', :as => :user_root

  devise_for :users, :path_names => {:sign_in => "login", :sign_out => "logout"}

  resources :profiles, :only => [:dashboard]

  namespace :admin do
    match '/' => 'users#index'
    resources :users
  end

  resources :posts
end
{% endhighlight ruby %}
Change your application layout and add a "my profile link"
{% highlight erb %}
<% if user_signed_in? %>
  <%= link_to "My Profile", user_root_path%>
  <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>  
<%else%>
  <%= link_to('Login', new_user_session_path) %>  
  <%= link_to('Register', new_user_registration_path) %>  
<%end%>	
{% endhighlight erb %}
Now, if you log as an admin you will redirect to /admin/users, if you login as Robbers or Registered user you will redirect to the dashboard. The method is rough, and I don't like it, but it works. Check it in the profiles controller.

