<footer></footer>
<!-- <script src="/js/jquery-2.2.3.min.js"></script> -->
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/isotope.pkgd.min.js"></script>

<script>
  const container = document.querySelector('.index-content');

  let toggleVideoControls = () => {
    const width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
    document.querySelectorAll("video").forEach(vid => {
      // enable controls on small screens
      if (width < 700) {
        vid.setAttribute("controls", "controls")
      } else {
        if (vid.hasAttribute("controls")) {
          vid.removeAttribute("controls")
        }
      }
    });
  };

  if (container) {
    let iso;
    imagesLoaded(container, function () {
      iso = new Isotope( container, {
        itemSelector: '.grid',
        percentPosition: true,
        masonry: {
          columnWidth: '.grid-sizer',
          gutter: '.grid-gutter',
          transitionDuration: '0.1s'
        }
      });

      // Images. As they load, call isotype. This is redundand with imagesLoaded
      // but sometime it needs to be called twice
      document.querySelectorAll("img").forEach(img =>
        img.addEventListener('load', (event) => {
          iso.layout();
        })
      )
      // html5 videos. As they load, call Isotype.
      let videos = document.querySelectorAll("video");
      videos.forEach(vid =>
        vid.addEventListener('loadeddata', (event) => {
          iso.layout();
        })
      )

      // add video controls for small screens
      toggleVideoControls();
      window.addEventListener('resize', toggleVideoControls);

      // filter functions
      let filterFns = {};

      // bind filter button click
      let filtersElem = document.querySelector('.filters-button-group');

      if (filtersElem) {
        filtersElem.addEventListener( 'click', function( event ) {
          // only work with buttons
          if ( !matchesSelector( event.target, 'button' ) ) {
            return;
          }
          let filterValue = event.target.getAttribute('data-filter');
          // use matching filter function
          filterValue = filterFns[ filterValue ] || filterValue;
          iso.arrange({ filter: filterValue });
        });

        // change is-checked class on buttons
        let buttonGroups = document.querySelectorAll('.button-group');
        for ( let i=0, len = buttonGroups.length; i < len; i++ ) {
          let buttonGroup = buttonGroups[i];
          radioButtonGroup( buttonGroup );
        }

        function radioButtonGroup( buttonGroup ) {
          buttonGroup.addEventListener( 'click', function( event ) {
            // only work with buttons
            if ( !matchesSelector( event.target, 'button' ) ) {
              return;
            }
            buttonGroup.querySelector('.is-checked').classList.remove('is-checked');
            event.target.classList.add('is-checked');
          });
        }
      }
    });
  }
</script>