<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <header>
    <div class="top">
      <div class="top_content">
        {% include top-links.html %}
      </div>
      <div class="button-group filters-button-group">
        <button class="button is-checked" data-filter="*">All</button>
        <button class="button" data-filter=".video-animations">Video Animations</button>
        <button class="button" data-filter=".web-animations">Web Animations</button>
        <button class="button" data-filter=".software">Software</button>
        <button class="button" data-filter=".still-images">Still Images</button>
      </div>

    </div>
  </header>

  <div class="content-container">
    {{ content }}
  </div>
  {% include footer.html %}
</body>

</html>