<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>PALM GENERATOR</title>
  <meta name="description" content="The Palm Generator can be used to generate palm's meshes in three.js">
  <meta name="keywords" content="webGL, threejs, palms, palm generator">

  <link rel="stylesheet" href="{{ "/css/palms.css" | prepend: site.baseurl }}">


  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
   <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=IM+Fell+English" rel="stylesheet">
  <script>
  // https://scottjehl.github.io/picturefill/
  // Picture element HTML5 shiv
  document.createElement( "picture" );
  </script>
  <script src="/js/picturefill.min.js" async></script>
</head>
  <body>
    {{ content }}

    {% include palm-footer.html %}
  </body>
</html>
