body {
cursor: default;
    /* SVG fallback for IE 9 (could be data URI, or could use filter) */
    background-image: url(fallback-gradient.svg);
    /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
    background-image: -webkit-gradient(linear, top left, bottom left, from(#170335), to(#540069));
    /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
    background-image: -webkit-linear-gradient(top, #170335, #540069);
    /* Firefox 3.6 - 15 */
    background-image: -moz-linear-gradient(top, #170335, #540069);
    /* Opera 11.1 - 12 */
    background-image: -o-linear-gradient(top, #170335, #540069);
    /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
    background-image: linear-gradient(to top, #170335, #540069);
    margin: 0px;
    overflow: hidden;
 }
